<!DOCTYPE html>
<html lang="en">
<head>
  <title>Interview Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <style>
      
    #back{
    height: 625px;
    border-right: 1px solid rgb(53, 52, 52);
    position: relative;
    }
#new{
    border-radius: 20px;
    width:150px;
    margin:60px 50px 0px 30px ;
} 
#history{
    border-radius: 20px;
    width:150px;
    margin:30px 50px 0px 30px ;
}
#abc{
    position: absolute;
    top:20px;
    right:0px;
}
.panel{
    margin: 0px;
}

#submit{
    border-radius: 20px;
    width:180px;			
}



  </style>
</head>
<body>

{{{body}}}

</body>
</html>
