 <section id="showcase">
   <div class="container">
    <form name="form" (ngSubmit)="myform.form.valid && submit(myform)" #myform="ngForm"  novalidate>
      <div class="form-group">    
        <div class="col-sm-6">
          <input type="text" class="form-control"placeholder="Enter name" id="myname" onkeypress="return (event.charCode>64 && event.charCode<91)||(event.charCode >96 && event.charCode<123)" name="name" [(ngModel)]="udata.name" #name="ngModel" [ngClass]="{'is-invalid':myform.submitted && name.invalid}" required />         
          <div *ngIf="myform.submitted && name.invalid" class="invalid-feedback">
           Name is required
          </div>
          </div>
      </div> 
      
      <div class="form-group" >
        <div class="col-sm-6">
          <input type="email" class="form-control"  placeholder="Enter Email "   name="email" [(ngModel)]="udata.email"#email="ngModel" [ngClass]="{'is-invalid':myform.submitted && email.invalid}" required email >
          <div *ngIf="myform.submitted && email.invalid" class="invalid-feedback">
           <div *ngIf="email.errors.required">Email is required</div>
                   <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
          
         </div>
      </div>
      <div class="form-group" >
        <div class="col-sm-6">
          <input type="text" class="form-control" onkeypress="return (event.charCode > 64 && 
          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"  onkeypress="return (event.charCode>64 && event.charCode<91)||(event.charCode >96 && event.charCode<123)" placeholder="Enter Company name" name="company" [(ngModel)]="udata.company"#company="ngModel" [ngClass]="{'is-invalid':myform.submitted && company.invalid}" required >
         <div *ngIf="myform.submitted && company.invalid" class="invalid-feedback">
           Company name is required
          </div>  
     </div>
      </div>
      <div class="form-group" >
        <div class="col-sm-6">
        <input type="text" class="form-control"  onkeypress="return (event.charCode>64 && event.charCode<91)||(event.charCode >96 && event.charCode<123)" placeholder="Enter position" name="position" [(ngModel)]="udata.position" #position="ngModel" [ngClass]="{'is-invalid':myform.submitted && position.invalid}" required >
         <div *ngIf="myform.submitted && position.invalid" class="invalid-feedback">
           Position is required
          </div>
    </div>
   </div>
    <div class="form-group" >
        <div class="col-sm-6">
          <input type="number" class="form-control"  placeholder="Enter question 1 score" name="question1" [(ngModel)]="udata.q1"#q1="ngModel" [ngClass]="{'is-invalid':myform.submitted && q1.invalid}" required >
          <div *ngIf="myform.submitted && q1.invalid" class="invalid-feedback">
           Question1 score is required
          </div>
         </div>
      </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 2 score" name="question2" [(ngModel)]="udata.q2" #q2="ngModel" [ngClass]="{'is-invalid':myform.submitted && q2.invalid}" required >
            <div *ngIf="myform.submitted && q2.invalid" class="invalid-feedback">
             Question2 score is required
            </div>
          </div>
        </div>
      <div class="form-group" >
            <div class="col-sm-6">
              <input type="number" class="form-control"  placeholder="Enter question 3 score" name="question3" [(ngModel)]="udata.q3" #q3="ngModel" [ngClass]="{'is-invalid':myform.submitted && q3.invalid}" required >
              <div *ngIf="myform.submitted && q3.invalid" class="invalid-feedback">
               Question3 score is required
              </div>
            </div>
      </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 4 score" name="question4" [(ngModel)]="udata.q4" #q4="ngModel" [ngClass]="{'is-invalid':myform.submitted && q4.invalid}" required >
            <div *ngIf="myform.submitted && q4.invalid" class="invalid-feedback">
             Question4 score is required
            </div>
          </div>
      </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 5 score" name="question5" [(ngModel)]="udata.q5" #q5="ngModel" [ngClass]="{'is-invalid':myform.submitted && q5.invalid}" required >
            <div *ngIf="myform.submitted && q5.invalid" class="invalid-feedback">
             Question5 score is required
            </div>
          </div>
      </div>
      <div class="form-group" >
         <div class="col-sm-6">
           <input type="number" class="form-control"  placeholder="Enter question 6 score" name="question6" [(ngModel)]="udata.q6" #q6="ngModel" [ngClass]="{'is-invalid':myform.submitted && q6.invalid}" required >
           <div *ngIf="myform.submitted && q6.invalid" class="invalid-feedback">
             Question6 score is required
            </div>
         </div>
      </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 7 score" name="question7" [(ngModel)]="udata.q7" #q7="ngModel" [ngClass]="{'is-invalid':myform.submitted && q7.invalid}" required >
            <div *ngIf="myform.submitted && q7.invalid" class="invalid-feedback">
             Question7 score is required
            </div>
          </div>
      </div>
      <div class="form-group" >
        <div class="col-sm-6">
          <input type="number" class="form-control"  placeholder="Enter question 8 score" name="question8" [(ngModel)]="udata.q8" #q8="ngModel" [ngClass]="{'is-invalid':myform.submitted && q8.invalid}" required >
          <div *ngIf="myform.submitted && q8.invalid" class="invalid-feedback">
           Question8 score is required
          </div>
        </div>
      </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 9 score" name="question9" [(ngModel)]="udata.q9" #q9="ngModel" [ngClass]="{'is-invalid':myform.submitted && q9.invalid}" required >
            <div *ngIf="myform.submitted && q9.invalid" class="invalid-feedback">
             Question9 score is required
            </div>
          </div>
      </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 10 score" name="question10" [(ngModel)]="udata.q10" #q10="ngModel" [ngClass]="{'is-invalid':myform.submitted && q10.invalid}" required >
            <div *ngIf="myform.submitted && q10.invalid" class="invalid-feedback">
             Question10 score is required
            </div>
          </div>
      </div>
      <div class="form-group" >
         <div class="col-sm-6">
           <input type="number" class="form-control"  placeholder="Enter question 11 score" name="question11" [(ngModel)]="udata.q11" #q11="ngModel" [ngClass]="{'is-invalid':myform.submitted && q11.invalid}" required >
           <div *ngIf="myform.submitted && q11.invalid" class="invalid-feedback">
             Question11 score is required
            </div>
         </div>
      </div>
      
      <div class="form-group" >
        <div class="col-sm-6">
          <input type="number" class="form-control"  placeholder="Enter question 12 score" name="question12" [(ngModel)]="udata.q12" #q12="ngModel" [ngClass]="{'is-invalid':myform.submitted && q12.invalid}" required >
          <div *ngIf="myform.submitted && q12.invalid" class="invalid-feedback">
           Question12 score is required
          </div>
        </div>
     </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 13 score" name="question13" [(ngModel)]="udata.q13" #q13="ngModel" [ngClass]="{'is-invalid':myform.submitted && q13.invalid}" required >
            <div *ngIf="myform.submitted && q13.invalid" class="invalid-feedback">
             Question13 score is required
            </div>
          </div>
      </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 14 score" name="question14" [(ngModel)]="udata.q14" #q14="ngModel" [ngClass]="{'is-invalid':myform.submitted && q14.invalid}" required >
            <div *ngIf="myform.submitted && q14.invalid" class="invalid-feedback">
             Question14 score is required
            </div>
          </div>
      </div>
      <div class="form-group" >
          <div class="col-sm-6">
            <input type="number" class="form-control"  placeholder="Enter question 15 score" name="question15" [(ngModel)]="udata.q15" #q15="ngModel" [ngClass]="{'is-invalid':myform.submitted && q15.invalid}" required >
            <div *ngIf="myform.submitted && q15.invalid" class="invalid-feedback">
             Question15 score is required
            </div>
          </div>
      </div>           
      <div class="form-group" >  
        <div class="col-sm-6">
          <textarea class="form-control" name="remark"  placeholder="Enter Additional remark" [(ngModel)]="udata.remark" #remark="ngModel" [ngClass]="{'is-invalid':myform.submitted && remark.invalid}" required ></textarea>
          <div *ngIf="myform.submitted && remark.invalid" class="invalid-feedback">
           Remark is required
          </div>
        </div>
       </div>
       
      <div class="form-group" >  
       
             <div class="convert_">
               <div class="col-sm-offset-4 col-sm-4">
        <label class="control-label">Convert :</label>
             <label class="radio-inline"><input type="radio" required #convert=ngModel name="convert" [(ngModel)]="udata.convert"value="yes">Yes</label>
             <label class="radio-inline"><input type="radio" required #convert=ngModel name="convert" [(ngModel)]="udata.convert"value="no">No</label> 
           </div>         
             <div *ngIf="myform.submitted && convert.invalid" class="invalid-feedback">
                <p id="title">Required</p>   
           </div>
       </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <input type="reset" value="Reset" class="btn_">
          <button type="submit"  class="btn btn-primary" id="submit">Submit</button>
        </div>
      </div>
             </form>
   </div>
 </section> 
 